<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    
    <!-- Custom styles -->
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
	
    <!-- Custom fonts -->
    <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,600italic,700,700italic,300,300italic' rel='stylesheet' type='text/css'>

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>

    <header class="navbar navbar-static-top" id="top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="//open311.org"><h1>{{ site.title }}</h1></a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="//www.open311.org/about">Blog</a></li>
            
         

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="//wiki-dev.open311.org/">Wiki</a></li>
                <li><a href="//wiki-dev.open311.org/GeoReport_v2">GeoReport v2</a></li>
              </ul>
            </li>


            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Discussion<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="//lists.open311.org/groups/discuss">Mailing List</a></li>
                <li><a href="//github.com/open311/open311.github.io/issues">Issue Tracker</a></li>
              </ul>
            </li>

            <li><a href="//www.open311.org/about">About</a></li>
            <li><a href="//www.open311.org/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div id="page-header">
      <div class="container">
        <h2 class="pull-left"><a href="{{ site.root_url }}/">Wiki</a></h2>

        <div class="revision-buttons pull-right">
          <a class="btn btn-default edit-button" href="//github.com/{{ site.org_name }}/{{ site.repo_name }}/edit/{{ site.branch }}/{{ page.path }}">Edit this Page</a>
          <a class="btn btn-default" href="//github.com/{{ site.org_name }}/{{ site.repo_name }}/commits/{{ site.branch }}/{{ page.path }}">View Revision History</a>
        </div>

      </div>
    </div>

    <div id="main">
      <div class="container">
        {{ content }}
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <a class="navbar-brand" href="//open311.org"><h1>{{ site.title }}</h1></a>

       <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="//www.open311.org/about">Blog</a></li>
 
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="//wiki-dev.open311.org/">Wiki</a></li>
                <li><a href="//wiki-dev.open311.org/GeoReport_v2">GeoReport v2</a></li>
              </ul>
            </li>


            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Discussion<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="//lists.open311.org/groups/discuss">Mailing List</a></li>
                <li><a href="//github.com/open311/open311.github.io/issues">Issue Tracker</a></li>
              </ul>
            </li>

            <li><a href="//www.open311.org/about">About</a></li>
            <li><a href="//www.open311.org/contact">Contact</a></li>
          </ul>
        </nav>

      </div>
    </div>

    {% include JB/analytics %}

    <!-- Latest compiled and minified JavaScript, requires jQuery 1.x (2.x not supported in IE8) -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ ASSET_PATH }}/js/jquery.toc.js"></script>
    <script src="{{ ASSET_PATH }}/js/main.js"></script>
  </body>
</html>
